LEMBRETES DE CONSULTAS MULTI AGENDAS.json
{
  "name": "LEMBRETES DE CONSULTAS MULTI AGENDAS",
  "nodes": [
    {
      "parameters": {
        "content": "## PRECISA DE CONFIGURAÇÃO ",
        "height": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        1888
      ],
      "typeVersion": 1,
      "id": "bd7faf3e-e195-4209-897a-3d94693415cc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        2256
      ],
      "id": "23369a9d-fff7-4cc5-ac4a-641dccf2a002",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DmoP52AOXhbHyxyX",
          "name": "Lena AI OpenAi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.idMemoria }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1568,
        2256
      ],
      "id": "bea92305-650d-4347-95cf-3f569eaaaa30",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lkXnrfeCDBqgODYW",
          "name": "Postgres Lia Assessora"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97e6dd42-5a96-461b-b8b0-469d4cad5ecb",
              "name": "mensagem",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "e4dc4598-ca7f-4497-97a4-9307e8e0505d",
              "name": "evoDomain",
              "value": "DOMINIO DA SUA EVOLUTION AQUI",
              "type": "string"
            },
            {
              "id": "88c09880-97b6-4691-8c6e-9350923f0408",
              "name": "evoInstance",
              "value": "NOME DA SUA INSTANCIA DA EVOLUTION AQUI",
              "type": "string"
            },
            {
              "id": "82956889-8f43-4969-82f4-195f06543ff6",
              "name": "evoAPIKey",
              "value": "APIKEY DA SUA INSTANCIA DA EVOLUTION AQUI",
              "type": "string"
            },
            {
              "id": "c042a6c0-d806-478c-893a-dd9d306a8446",
              "name": "telefone",
              "value": "={{ $('buscaDadosPaciente').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        2000
      ],
      "id": "e20c61a3-ca0b-4081-a657-03346361d6b9",
      "name": "trataDados"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "17cd57e9-750d-4b1e-a825-63f81ca24d09",
      "name": "disparaLembretes24hAntes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        1776
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f072fa56-57fe-4759-8ecd-933d40e05e0f",
              "name": "=agendas",
              "value": "=[\n  {\n    \"medico\": \"Dr. Ricardo Mendes\",\n    \"especialidade\": \"Dermatologia\",\n    \"id_agenda\": \"bb4417b38dff3bb5b9d739abdf2faa2d4f9330379912b91b776c494164507cc9@group.calendar.google.com\"\n  },\n  {\n    \"medico\": \"Dra. Ana Clara\",\n    \"especialidade\": \"Odontologia\",\n    \"id_agenda\": \"0d475beb43a70cbe7603ef907e07db6fd0c3a9d428974d358a816adfe0c8e3a1@group.calendar.google.com\"\n  },\n  {\n    \"medico\": \"Dr. Lucas Andrade\",\n    \"especialidade\": \"Clínica Geral\",\n    \"id_agenda\": \"b71b002dd6824cd53aba9eff0fc97ef82408e7b7382c488a7e4ffcc10527d47a@group.calendar.google.com\"\n  }\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        1776
      ],
      "id": "8b49b20a-7c17-4c03-90d4-ab479f132af0",
      "name": "defineAgendas"
    },
    {
      "parameters": {
        "fieldToSplitOut": "agendas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -304,
        1776
      ],
      "id": "633549c7-bce0-4e81-ac94-f409bca79ed3",
      "name": "paraCadaAgenda"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        1776
      ],
      "id": "01d2e7e3-29bf-47ad-b9c4-63f29950edef",
      "name": "loopAgendas"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.id_agenda }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.plus({ days: 1 }).startOf('day') }}",
          "timeMax": "={{ $now.plus({ days: 1 }).endOf('day') }}"
        }
      },
      "id": "89d664e2-d5a3-4372-bba2-c985cb2cbb33",
      "name": "buscaConsultasAmanha",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        128,
        1952
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1VrcmzO7tnetZSRV",
          "name": "Instituto Philippe Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e99276a-9922-45cc-80bd-19c4d7101fa6",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        1952
      ],
      "id": "3dc9c7aa-d4a0-45db-900e-755576e2cf18",
      "name": "nãoEncontrouConsulta"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        1968
      ],
      "id": "df3b1dc0-f8ab-4961-bf0f-010bf5ed72d9",
      "name": "loopConsultas"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.attendees[0].email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        1984
      ],
      "id": "323018c4-8109-4d80-8b33-62dc0b0ab25e",
      "name": "buscaDadosPaciente",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZfrRkSvPSs8Mb22v",
          "name": "Supabase Lia Assessora"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e99276a-9922-45cc-80bd-19c4d7101fa6",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        1984
      ],
      "id": "8e2bc253-d58f-4576-813f-fda27b4a2260",
      "name": "semPacienteCadastrado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "409783cc-9fd4-417b-8c7d-7a70e4ece9a7",
              "name": "telefonePaciente",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "a26b270a-f2f9-479e-8675-94013266bcc5",
              "name": "nomeMedico",
              "value": "={{ $('paraCadaAgenda').item.json.medico }}",
              "type": "string"
            },
            {
              "id": "5e45f2c9-9e04-4a77-b476-2c1c8f00943b",
              "name": "dataConsulta",
              "value": "={{ DateTime.fromISO($('buscaConsultasAmanha').item.json.start.dateTime).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "c215b8e3-7d69-4e18-b0d5-4f62f5bcdfe2",
              "name": "horaConsulta",
              "value": "={{ DateTime.fromISO($('buscaConsultasAmanha').item.json.start.dateTime).setZone('America/Sao_Paulo').toFormat('HH:mm') }}",
              "type": "string"
            },
            {
              "id": "be584308-89a2-4f43-8abb-3c5f10a7aa7a",
              "name": "endereçoClinica",
              "value": "Av. Principal, 123, Bairro Centro",
              "type": "string"
            },
            {
              "id": "c428eff0-6712-4145-aeac-00902b8eabba",
              "name": "idMemoria",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "822226df-f5f6-44f0-bff5-a2c48e948766",
              "name": "tituloNome",
              "value": "={{ $('buscaConsultasAmanha').item.json.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        2000
      ],
      "id": "a7cdf45f-c62f-491d-ac90-248aa8513bf8",
      "name": "preparaDadosParaIA"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# PERSONA E OBJETIVO\nVocê é Sofia, a assistente virtual da Clínica Lena AI. Sua tarefa é criar uma mensagem de lembrete de consulta para amanhã, de forma amigável, profissional e humana.\n\n# CONTEXTO E DADOS DISPONÍVEIS\nVocê receberá os dados da consulta para usar na sua mensagem. As informações disponíveis são:\n- `tituloNome`: Titulo com o nome da pessoa a ser contatada: {{ $json.tituloNome }}\n- `nomeMedico`: O nome do profissional que fará o atendimento: {{ $json.nomeMedico }}\n- `dataConsulta`: A data da consulta: {{ $json.dataConsulta }}\n- `horaConsulta`: A hora da consulta: {{ $json.horaConsulta }}\n- `endereçoClinica`: Endereço da Clínica: {{ $json['endereçoClinica'] }}\n\n# REGRAS E DIRETRIZES\n1.  Comece com uma saudação personalizada usando o nome do paciente.\n2.  Confirme que a consulta é **amanhã**.\n3.  Mencione claramente o `nomeMedico`, a `dataConsulta` e a `horaConsulta`.\n4.  Termine com uma frase gentil, informando que a equipe está à disposição para qualquer imprevisto.\n5.  **NÃO** use emojis exagerados. Um ou dois no máximo, para manter um tom leve.\n6.  **NÃO** use links ou formatação complexa.\n7.  Sua resposta deve ser **APENAS** o texto da mensagem a ser enviada, nada mais.\n\n# EXEMPLO DE MENSAGEM ESPERADA\n\"Olá, [nomePaciente]! Tudo bem? 😊 Estou passando para lembrar da sua consulta agendada para **amanhã**, dia [dataConsulta], às [horaConsulta], com o(a) Dr(a). [nomeMedico]. Estamos te esperando aqui no endereço [endereçoClinica]! Se tiver qualquer imprevisto, é só nos avisar por aqui.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1408,
        2000
      ],
      "id": "fdbab154-e0a5-4b2d-af78-db58d2b01614",
      "name": "criaMensagemHumanizada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('trataDados').first().json['evoDomain'] }}/message/sendText/{{ $('trataDados').first().json['evoInstance'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('trataDados').first().json['evoAPIKey'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('trataDados').first().json.telefone }}"
            },
            {
              "name": "delay",
              "value": "={{ 300 }}"
            },
            {
              "name": "presence",
              "value": "composing"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem }}"
            },
            {
              "name": "textMessage",
              "value": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce43582a-33fe-4c3c-8d12-26f018d11a91",
      "name": "enviaLembreteWhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        2000
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "",
        "height": 756,
        "width": 3132,
        "color": 7
      },
      "id": "81d27d64-0eb4-4841-ac03-a4f61f1cc607",
      "name": "Sticky Note73",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        1712
      ]
    },
    {
      "parameters": {
        "content": "# Descrição Automação + IA\n\n#### **disparaLembretes**\n*_(Tipo: Schedule Trigger)_*\n**🎯 Objetivo:** Iniciar o workflow de lembretes em um horário programado.\n**📝 Detalhes:**\n* Este nó é o ponto de partida de toda a automação. Ele \"acorda\" o fluxo no horário definido para começar a verificação das agendas.\n**🔧 Ação Necessária:** Ajuste o horário de execução (ex: `Trigger at Hour`) para o melhor momento do seu dia (ex: 8 da manhã).\n\n#### **defineAgendas**\n*_(Tipo: Set)_*\n**🎯 Objetivo:** Criar uma lista centralizada com os dados de todas as agendas a serem verificadas.\n**📝 Detalhes:**\n* Armazena um Array (lista) de objetos, onde cada objeto representa um médico, sua especialidade e o ID da sua agenda no Google Calendar.\n**🔧 Ação Necessária:** Mantenha esta lista sempre atualizada com os IDs corretos das agendas de cada profissional.\n\n#### **paraCadaAgenda**\n*_(Tipo: Split Out)_*\n**🎯 Objetivo:** Transformar a lista de agendas em itens individuais para processamento em loop.\n**📝 Detalhes:**\n* Pega o Array do nó anterior e cria uma execução separada para cada item da lista. Os nós seguintes serão executados uma vez para cada agenda.\n\n#### **buscaConsultasAmanha**\n*_(Tipo: Google Calendar)_*\n**🎯 Objetivo:** Verificar a agenda de um médico e encontrar todas as consultas marcadas para o dia seguinte.\n**📝 Detalhes:**\n* Usa o `id_agenda` recebido do loop e as expressões de data (`startOf('day')` e `endOf('day')`) para buscar apenas os eventos relevantes.\n* Se encontrar consultas, ele gera um item para cada uma. Se não, gera um item vazio.\n\n#### **encontrouConsulta**\n*_(Tipo: IF)_*\n**🎯 Objetivo:** Filtrar e continuar o fluxo apenas se uma consulta real for encontrada.\n**📝 Detalhes:**\n* Verifica se o item vindo do Google Calendar tem um `summary` (título). Se estiver vazio, o fluxo para (saída FALSE). Se tiver um título, o fluxo continua (saída TRUE).\n\n#### **buscaDadosPaciente**\n*_(Tipo: Supabase)_*\n**🎯 Objetivo:** Encontrar informações adicionais do paciente no banco de dados.\n**📝 Detalhes:**\n* Usa o e-mail do paciente (retirado dos convidados do evento do Calendar) para buscar o número de telefone e o ID da conversa na sua tabela `chats`.\n\n#### **pacienteCadastrado**\n*_(Tipo: IF)_*\n**🎯 Objetivo:** Garantir que o fluxo só prossiga se os dados do paciente forem encontrados.\n**📝 Detalhes:**\n* Verifica se um número de telefone (`phone`) válido foi retornado pelo Supabase no passo anterior, evitando erros de envio para contatos inexistentes.\n\n#### **preparaDadosParaIA**\n*_(Tipo: Set)_*\n**🎯 Objetivo:** Organizar todas as informações necessárias para a IA criar a mensagem de lembrete.\n**📝 Detalhes:**\n* Reúne dados de vários nós anteriores (nome do médico, data/hora da consulta, telefone do paciente, etc.) e os formata em variáveis limpas para serem enviadas ao agente de IA.\n\n#### **criaMensagemHumanizada**\n*_(Tipo: AI Agent)_*\n**🎯 Objetivo:** Gerar um texto de lembrete personalizado e com tom humano.\n**📝 Detalhes:**\n* Recebe os dados da consulta e um prompt detalhado (System Message) que o instrui sobre o tom, a estrutura e as informações que a mensagem deve conter.\n\n#### **preparaDadosEnvio**\n*_(Tipo: Set)_*\n**🎯 Objetivo:** Preparar os dados finais para a API do WhatsApp.\n**📝 Detalhes:**\n* Pega a mensagem gerada pela IA e a combina com as credenciais da sua API (Evolution) para o passo final.\n\n#### **enviaLembreteWhatsApp**\n*_(Tipo: HTTP Request)_*\n**🎯 Objetivo:** Enviar a mensagem de lembrete para o paciente.\n**📝 Detalhes:**\n* Este é o último nó do fluxo. Ele faz a chamada para a API do WhatsApp (Evolution) e dispara a mensagem final.",
        "height": 1668,
        "width": 3132,
        "color": 4
      },
      "id": "fc9cc3e4-b65e-4e3d-9d5e-8942afe2d1a5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        32
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2144,
        2000
      ],
      "id": "96a0142d-f7b6-4eac-8ce3-01223a18e5a7",
      "name": "delayEntreEnvios",
      "webhookId": "2cc02ed0-64d3-487a-a1aa-e0dc64395e7e"
    },
    {
      "parameters": {
        "content": "## PRECISA DE CONFIGURAÇÃO ",
        "height": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        2656
      ],
      "typeVersion": 1,
      "id": "d726f800-d26d-4f19-bdee-797a74df1798",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        3024
      ],
      "id": "9a6c659e-d494-4c11-88db-62a24a7b1b49",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DmoP52AOXhbHyxyX",
          "name": "Lena AI OpenAi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.idMemoria }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1568,
        3024
      ],
      "id": "d7941478-cb16-4788-95f1-40e0b23f6820",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "lkXnrfeCDBqgODYW",
          "name": "Postgres Lia Assessora"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97e6dd42-5a96-461b-b8b0-469d4cad5ecb",
              "name": "mensagem",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "e4dc4598-ca7f-4497-97a4-9307e8e0505d",
              "name": "evoDomain",
              "value": "DOMINIO DA SUA EVOLUTION AQUI",
              "type": "string"
            },
            {
              "id": "88c09880-97b6-4691-8c6e-9350923f0408",
              "name": "evoInstance",
              "value": "NOME DA SUA INSTANCIA DA EVOLUTION AQUI",
              "type": "string"
            },
            {
              "id": "82956889-8f43-4969-82f4-195f06543ff6",
              "name": "evoAPIKey",
              "value": "APIKEY DA SUA INSTANCIA DA EVOLUTION AQUI",
              "type": "string"
            },
            {
              "id": "c042a6c0-d806-478c-893a-dd9d306a8446",
              "name": "telefone",
              "value": "={{ $('buscaDadosPaciente1').first().json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        2768
      ],
      "id": "460ffa9d-da65-4384-acc4-1b33ecee635c",
      "name": "trataDados1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f072fa56-57fe-4759-8ecd-933d40e05e0f",
              "name": "=agendas",
              "value": "=[\n  {\n    \"medico\": \"Dr. Ricardo Mendes\",\n    \"especialidade\": \"Dermatologia\",\n    \"id_agenda\": \"bb4417b38dff3bb5b9d739abdf2faa2d4f9330379912b91b776c494164507cc9@group.calendar.google.com\"\n  },\n  {\n    \"medico\": \"Dra. Ana Clara\",\n    \"especialidade\": \"Odontologia\",\n    \"id_agenda\": \"0d475beb43a70cbe7603ef907e07db6fd0c3a9d428974d358a816adfe0c8e3a1@group.calendar.google.com\"\n  },\n  {\n    \"medico\": \"Dr. Lucas Andrade\",\n    \"especialidade\": \"Clínica Geral\",\n    \"id_agenda\": \"b71b002dd6824cd53aba9eff0fc97ef82408e7b7382c488a7e4ffcc10527d47a@group.calendar.google.com\"\n  }\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        2544
      ],
      "id": "cba30770-9b3c-46ac-926e-bc6a8edc185d",
      "name": "defineAgendas1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "agendas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -304,
        2544
      ],
      "id": "cee67f39-e360-49dc-bcc3-1364052b11a8",
      "name": "paraCadaAgenda1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        2544
      ],
      "id": "b32f8940-80c1-4b87-bedc-73c7b9abd95d",
      "name": "loopAgendas1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e99276a-9922-45cc-80bd-19c4d7101fa6",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        2720
      ],
      "id": "6e3387be-818a-4999-a8e8-9a95422a5cb1",
      "name": "nãoEncontrouConsulta1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        2736
      ],
      "id": "89a52eb1-38e6-4b4f-8ec0-44f43e0b5d09",
      "name": "loopConsultas1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.attendees[0].email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        2752
      ],
      "id": "7d0a4d52-12a9-4c92-a582-93629ffd962c",
      "name": "buscaDadosPaciente1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZfrRkSvPSs8Mb22v",
          "name": "Supabase Lia Assessora"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e99276a-9922-45cc-80bd-19c4d7101fa6",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        2752
      ],
      "id": "45bda8ae-390f-40cb-b463-6bb572e3f004",
      "name": "semPacienteCadastrado1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "409783cc-9fd4-417b-8c7d-7a70e4ece9a7",
              "name": "telefonePaciente",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "a26b270a-f2f9-479e-8675-94013266bcc5",
              "name": "nomeMedico",
              "value": "={{ $('paraCadaAgenda1').item.json.medico }}",
              "type": "string"
            },
            {
              "id": "5e45f2c9-9e04-4a77-b476-2c1c8f00943b",
              "name": "dataConsulta",
              "value": "={{ DateTime.fromISO($('buscaConsultasDeHoje').item.json.start.dateTime).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "c215b8e3-7d69-4e18-b0d5-4f62f5bcdfe2",
              "name": "horaConsulta",
              "value": "={{ DateTime.fromISO($('buscaConsultasDeHoje').item.json.start.dateTime).setZone('America/Sao_Paulo').toFormat('HH:mm') }}",
              "type": "string"
            },
            {
              "id": "be584308-89a2-4f43-8abb-3c5f10a7aa7a",
              "name": "endereçoClinica",
              "value": "Av. Principal, 123, Bairro Centro",
              "type": "string"
            },
            {
              "id": "c428eff0-6712-4145-aeac-00902b8eabba",
              "name": "idMemoria",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "822226df-f5f6-44f0-bff5-a2c48e948766",
              "name": "tituloNome",
              "value": "={{ $('buscaConsultasDeHoje').item.json.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        2768
      ],
      "id": "8e3f485e-d5d1-4200-ad2c-e868eeaa8815",
      "name": "preparaDadosParaIA1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# PERSONA E OBJETIVO\nVocê é Sofia, a assistente virtual da Clínica Lena AI. Sua tarefa é criar uma mensagem de confirmação de consulta para **HOJE**, de forma acolhedora, profissional e humana.\n\n# CONTEXTO E DADOS DISPONÍVEIS\nVocê receberá os dados da consulta para usar na sua mensagem. As informações disponíveis são:\n- `tituloNome`: Titulo com o nome da pessoa a ser contatada: {{ $json.tituloNome }}\n- `nomeMedico`: O nome do profissional que fará o atendimento: {{ $json.nomeMedico }}\n- `dataConsulta`: A data da consulta: {{ $json.dataConsulta }}\n- `horaConsulta`: A hora da consulta: {{ $json.horaConsulta }}\n- `endereçoClinica`: Endereço da Clínica: {{ $json['endereçoClinica'] }}\n\n# REGRAS E DIRETRIZES\n1.  Comece com uma saudação calorosa (ex: \"Bom dia!\") e use o `nomePaciente`.\n2.  Confirme que a consulta é **HOJE**.\n3.  Mencione claramente o `nomeMedico` e a `horaConsulta`.\n4.  Inclua o `enderecoClinica` para facilitar a chegada do paciente.\n5.  Termine com uma frase gentil, como \"Até mais tarde!\" ou \"Estamos te esperando!\".\n6.  Use um emoji 😊 para dar um toque amigável.\n7.  Sua resposta deve ser **APENAS** o texto da mensagem a ser enviada, nada mais.\n\n# EXEMPLO DE MENSAGEM ESPERADA\n\"Bom dia, [nomePaciente]! Tudo bem? Passando para confirmar sua consulta **hoje** às [horaConsulta] com o(a) Dr(a). [nomeMedico]. Já estamos preparando tudo para te receber em nosso endereço: [enderecoClinica]. Até mais tarde! 😊\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1408,
        2768
      ],
      "id": "87df601f-5aef-4cd1-9436-715151cb1781",
      "name": "criaMensagemHumanizada1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('trataDados1').first().json['evoDomain'] }}/message/sendText/{{ $('trataDados1').first().json['evoInstance'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('trataDados1').first().json['evoAPIKey'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('trataDados1').first().json.telefone }}"
            },
            {
              "name": "delay",
              "value": "={{ 300 }}"
            },
            {
              "name": "presence",
              "value": "composing"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem }}"
            },
            {
              "name": "textMessage",
              "value": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cde52f96-fd94-4eff-8a2a-7d9660196f76",
      "name": "enviaLembreteWhatsApp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        2768
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "",
        "height": 756,
        "width": 3132,
        "color": 6
      },
      "id": "5a9ada52-0535-4a41-a981-c7221991ceed",
      "name": "Sticky Note74",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        2480
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2144,
        2768
      ],
      "id": "a944c022-e36d-40df-8214-1dfb47626b1f",
      "name": "delayEntreEnvios1",
      "webhookId": "2cc02ed0-64d3-487a-a1aa-e0dc64395e7e"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "27939be2-8cec-4941-9da7-d5417b1c1a20",
      "name": "disparaLembretesMesmoDia",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        2544
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.id_agenda }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.startOf('day') }}",
          "timeMax": "={{ $now.endOf('day') }}"
        }
      },
      "id": "10df9ba8-3ab5-4f26-939f-63f9700d0ee7",
      "name": "buscaConsultasDeHoje",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        128,
        2720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1VrcmzO7tnetZSRV",
          "name": "Instituto Philippe Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "content": " ```\n██╗     ███████╗███╗   ██╗ █████╗      █████╗ ██╗\n██║     ██╔════╝████╗  ██║██╔══██╗    ██╔══██╗██║\n██║     █████╗  ██╔██╗ ██║███████║    ███████║██║\n██║     ██╔══╝  ██║╚██╗██║██╔══██║    ██╔══██║██║\n███████╗███████╗██║ ╚████║██║  ██║    ██║  ██║██║\n╚══════╝╚══════╝╚═╝  ╚═══╝╚═╝  ╚═╝    ╚═╝  ╚═╝╚═╝\n ```                                            ",
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        64
      ],
      "typeVersion": 1,
      "id": "f2a6aff6-a84f-443e-a08e-17c1ef799272",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## PRECISA DE CONFIGURAÇÃO ",
        "height": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        1888
      ],
      "typeVersion": 1,
      "id": "ba5df2f1-0cad-463c-bad5-54f418ece543",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## PRECISA DE CONFIGURAÇÃO ",
        "height": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        2656
      ],
      "typeVersion": 1,
      "id": "8073f3ff-e880-4474-96bb-9bf411ed1c4a",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "criaMensagemHumanizada",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "criaMensagemHumanizada",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "trataDados": {
      "main": [
        [
          {
            "node": "enviaLembreteWhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "disparaLembretes24hAntes": {
      "main": [
        [
          {
            "node": "defineAgendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "defineAgendas": {
      "main": [
        [
          {
            "node": "paraCadaAgenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paraCadaAgenda": {
      "main": [
        [
          {
            "node": "loopAgendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopAgendas": {
      "main": [
        [
          {
            "node": "paraCadaAgenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscaConsultasAmanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscaConsultasAmanha": {
      "main": [
        [
          {
            "node": "nãoEncontrouConsulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nãoEncontrouConsulta": {
      "main": [
        [
          {
            "node": "loopAgendas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "loopConsultas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopConsultas": {
      "main": [
        [
          {
            "node": "loopAgendas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscaDadosPaciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscaDadosPaciente": {
      "main": [
        [
          {
            "node": "semPacienteCadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "semPacienteCadastrado": {
      "main": [
        [
          {
            "node": "loopConsultas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "preparaDadosParaIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preparaDadosParaIA": {
      "main": [
        [
          {
            "node": "criaMensagemHumanizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criaMensagemHumanizada": {
      "main": [
        [
          {
            "node": "trataDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviaLembreteWhatsApp": {
      "main": [
        [
          {
            "node": "delayEntreEnvios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delayEntreEnvios": {
      "main": [
        [
          {
            "node": "loopConsultas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "criaMensagemHumanizada1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "criaMensagemHumanizada1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "trataDados1": {
      "main": [
        [
          {
            "node": "enviaLembreteWhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "defineAgendas1": {
      "main": [
        [
          {
            "node": "paraCadaAgenda1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paraCadaAgenda1": {
      "main": [
        [
          {
            "node": "loopAgendas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopAgendas1": {
      "main": [
        [
          {
            "node": "paraCadaAgenda1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscaConsultasDeHoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nãoEncontrouConsulta1": {
      "main": [
        [
          {
            "node": "loopAgendas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "loopConsultas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopConsultas1": {
      "main": [
        [
          {
            "node": "loopAgendas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscaDadosPaciente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscaDadosPaciente1": {
      "main": [
        [
          {
            "node": "semPacienteCadastrado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "semPacienteCadastrado1": {
      "main": [
        [
          {
            "node": "loopConsultas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "preparaDadosParaIA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preparaDadosParaIA1": {
      "main": [
        [
          {
            "node": "criaMensagemHumanizada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criaMensagemHumanizada1": {
      "main": [
        [
          {
            "node": "trataDados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviaLembreteWhatsApp1": {
      "main": [
        [
          {
            "node": "delayEntreEnvios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delayEntreEnvios1": {
      "main": [
        [
          {
            "node": "loopConsultas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "disparaLembretesMesmoDia": {
      "main": [
        [
          {
            "node": "defineAgendas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscaConsultasDeHoje": {
      "main": [
        [
          {
            "node": "nãoEncontrouConsulta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92523e1e-7ef9-459e-96bd-657e542a0d36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc904c3834610abef51c04a29ba4c38e9a293fdb9101b8c2e4590098b2640387"
  },
  "id": "VkhzS5PKSqBiJeXt",
  "tags": []
}